In [16]:
import mysql.connector
import json
import pandas as pd
import datetime

mydb = mysql.connector.connect(

  host="localhost",
  user="root",
  password="Kaja25802580",
  database="twitter_database"
)

mycursor = mydb.cursor()

In [17]:
df_placeCoordinates = pd.read_sql("select id from place_coordinates", mydb)
df_places = pd.read_sql("select id, name,country, country_code from places", mydb)

In [18]:
merged_df= pd.merge(left=df_placeCoordinates, right=df_places, left_on='id', right_on='id')
merged_df['cityANDcountry'] = merged_df['name'] +','+ merged_df['country']
merged_df.drop_duplicates(subset ="id", keep = False, inplace = True)
merged_df

,id,name,country,country_code,cityANDcountry
3,00005ac94a02b2a7,Lungsod ng Surigao,Republika ng Pilipinas,PH,"Lungsod ng Surigao,Republika ng Pilipinas"
4,0000c53267c193f9,Dacca,Bangladesh,BD,"Dacca,Bangladesh"
5,00020fb13f41b8bf,Fort Benning,United States,US,"Fort Benning,United States"
6,0002138129548fc3,Merton,United States,US,"Merton,United States"
7,00030a773a4ffe7a,Midway,United States,US,"Midway,United States"
...,...,...,...,...,...
38462,ff527c79efd22d48,Sitiawan,Malaysia,MY,"Sitiawan,Malaysia"
38463,ff7a6e4fc30dd41c,West York,United States,US,"West York,United States"
38464,ff8d31108fa9474e,Pekin,United States,US,"Pekin,United States"
38467,ffaf1a469b1c15b1,Cerdanyola del Vallès,España,ES,"Cerdanyola del Vallès,España"
38476,ffd0541bef51f605,Flen,Sverige,SE,"Flen,Sverige"

In [20]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my_user_agent")
merged_df['city_coord'] = merged_df['cityANDcountry'].apply(geolocator.geocode)
merged_df

,id,name,country,country_code,cityANDcountry,city_coord
3,00005ac94a02b2a7,Lungsod ng Surigao,Republika ng Pilipinas,PH,"Lungsod ng Surigao,Republika ng Pilipinas",None
4,0000c53267c193f9,Dacca,Bangladesh,BD,"Dacca,Bangladesh","(ঢাকা, ঢাকা মহানগর, ঢাকা জেলা, ঢাকা বিভাগ, 121..."
5,00020fb13f41b8bf,Fort Benning,United States,US,"Fort Benning,United States","(Fort Benning, Chattahoochee County, 31905, Un..."
6,0002138129548fc3,Merton,United States,US,"Merton,United States","(Merton, Waukesha County, Wisconsin, 53056, Un..."
7,00030a773a4ffe7a,Midway,United States,US,"Midway,United States","(Midway, Madison County, Texas, United States,..."
...,...,...,...,...,...,...
38462,ff527c79efd22d48,Sitiawan,Malaysia,MY,"Sitiawan,Malaysia","(Sitiawan, Manjung, Perak, 32000, Malaysia, (4..."
38463,ff7a6e4fc30dd41c,West York,United States,US,"West York,United States","(West York, York County, Pennsylvania, United ..."
38464,ff8d31108fa9474e,Pekin,United States,US,"Pekin,United States","(Pekin, Tazewell County, Illinois, United Stat..."
38467,ffaf1a469b1c15b1,Cerdanyola del Vallès,España,ES,"Cerdanyola del Vallès,España","(Cerdanyola del Vallès, Vallès Occidental, Bar..."
38476,ffd0541bef51f605,Flen,Sverige,SE,"Flen,Sverige","(Flens kommun, Södermanlands län, Sverige, (59..."

In [21]:
merged_df = merged_df.dropna()
merged_df

,id,name,country,country_code,cityANDcountry,city_coord
4,0000c53267c193f9,Dacca,Bangladesh,BD,"Dacca,Bangladesh","(ঢাকা, ঢাকা মহানগর, ঢাকা জেলা, ঢাকা বিভাগ, 121..."
5,00020fb13f41b8bf,Fort Benning,United States,US,"Fort Benning,United States","(Fort Benning, Chattahoochee County, 31905, Un..."
6,0002138129548fc3,Merton,United States,US,"Merton,United States","(Merton, Waukesha County, Wisconsin, 53056, Un..."
7,00030a773a4ffe7a,Midway,United States,US,"Midway,United States","(Midway, Madison County, Texas, United States,..."
11,000356952b4aeac4,Palmwoods,Australia,AU,"Palmwoods,Australia","(Palmwoods, Sunshine Coast Regional, Queenslan..."
...,...,...,...,...,...,...
38462,ff527c79efd22d48,Sitiawan,Malaysia,MY,"Sitiawan,Malaysia","(Sitiawan, Manjung, Perak, 32000, Malaysia, (4..."
38463,ff7a6e4fc30dd41c,West York,United States,US,"West York,United States","(West York, York County, Pennsylvania, United ..."
38464,ff8d31108fa9474e,Pekin,United States,US,"Pekin,United States","(Pekin, Tazewell County, Illinois, United Stat..."
38467,ffaf1a469b1c15b1,Cerdanyola del Vallès,España,ES,"Cerdanyola del Vallès,España","(Cerdanyola del Vallès, Vallès Occidental, Bar..."
38476,ffd0541bef51f605,Flen,Sverige,SE,"Flen,Sverige","(Flens kommun, Södermanlands län, Sverige, (59..."

In [22]:
merged_df['latitude'] = merged_df['city_coord'].apply(lambda x: x.latitude)
merged_df['longitude'] = merged_df['city_coord'].apply(lambda x: x.longitude)
merged_df

<ipython-input-22-1d398d8cceb5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['latitude'] = merged_df['city_coord'].apply(lambda x: x.latitude)
<ipython-input-22-1d398d8cceb5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['longitude'] = merged_df['city_coord'].apply(lambda x: x.longitude)

,id,name,country,country_code,cityANDcountry,city_coord,latitude,longitude
4,0000c53267c193f9,Dacca,Bangladesh,BD,"Dacca,Bangladesh","(ঢাকা, ঢাকা মহানগর, ঢাকা জেলা, ঢাকা বিভাগ, 121...",23.764402,90.389015
5,00020fb13f41b8bf,Fort Benning,United States,US,"Fort Benning,United States","(Fort Benning, Chattahoochee County, 31905, Un...",32.352369,-84.968819
6,0002138129548fc3,Merton,United States,US,"Merton,United States","(Merton, Waukesha County, Wisconsin, 53056, Un...",43.146674,-88.306761
7,00030a773a4ffe7a,Midway,United States,US,"Midway,United States","(Midway, Madison County, Texas, United States,...",31.026020,-95.750503
11,000356952b4aeac4,Palmwoods,Australia,AU,"Palmwoods,Australia","(Palmwoods, Sunshine Coast Regional, Queenslan...",-26.692799,152.960861
...,...,...,...,...,...,...,...,...
38462,ff527c79efd22d48,Sitiawan,Malaysia,MY,"Sitiawan,Malaysia","(Sitiawan, Manjung, Perak, 32000, Malaysia, (4...",4.216232,100.695190
38463,ff7a6e4fc30dd41c,West York,United States,US,"West York,United States","(West York, York County, Pennsylvania, United ...",39.953668,-76.761861
38464,ff8d31108fa9474e,Pekin,United States,US,"Pekin,United States","(Pekin, Tazewell County, Illinois, United Stat...",40.572187,-89.623030
38467,ffaf1a469b1c15b1,Cerdanyola del Vallès,España,ES,"Cerdanyola del Vallès,España","(Cerdanyola del Vallès, Vallès Occidental, Bar...",41.491032,2.137497
38476,ffd0541bef51f605,Flen,Sverige,SE,"Flen,Sverige","(Flens kommun, Södermanlands län, Sverige, (59...",59.050000,16.716667

In [23]:
import matplotlib.pyplot as plt
import matplotlib.cm
from mpl_toolkits.basemap import Basemap
from matplotlib.patches import Polygon
from matplotlib.collections import PatchCollection
from matplotlib.colors import Normalize

In [35]:
fig, ax = plt.subplots(figsize=(23,23))
coordinate_df = merged_df
m=Basemap(llcrnrlon=-180, llcrnrlat=-65, urcrnrlon=180, urcrnrlat=80)
m.drawmapboundary(fill_color='#A6CAE0', linewidth=0)
m.fillcontinents(color='grey', alpha=0.3)
m.drawcoastlines(linewidth=0.1, color="white")

# prepare a color for each point depending on the continent.
coordinate_df['labels_enc'] = pd.factorize(coordinate_df['country'])[0]
 
# Add a point per position
m.scatter(
    x=coordinate_df['longitude'], 
    y=coordinate_df['latitude'], 
    alpha=0.4, 
    c=coordinate_df['labels_enc'], 
    cmap="Set1"
)
plt.text( -175, -62,'Lokalizacja najpopularniejszych tweetów wykonana w Pythonie z użyciem Basemap', ha='left', va='bottom', size=9, color='#555555' );
plt.savefig('charts/loc_map.png', dpi=200)
plt.close()

<ipython-input-35-05617ff6470a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coordinate_df['labels_enc'] = pd.factorize(coordinate_df['country'])[0]